/* Color overrides */
:root {
  --md-primary-fg-color: #a23737;
  --md-accent-fg-color: #3b4eb7;
}
[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #ffa8a8;
  --md-accent-fg-color: #afbbff;
}
.md-search__form {
  background-color: #d83933;
}
/* Link overrides */
a.md-tabs__link {
  opacity: 1;
  font-size: 0.8rem;
}
a.md-tabs__link:focus,
a.md-tabs__link:hover {
  text-decoration: underline;
}
.md-tabs__item--active a {
  font-weight: bold;
  text-decoration: underline;
}
.md-content__inner a {
  text-decoration: underline;
}
[data-md-color-scheme="default"] .md-content__inner a:focus,
[data-md-color-scheme="default"] .md-content__inner a:hover,
[data-md-color-scheme="default"] .md-nav__link[href]:hover,
[data-md-color-scheme="default"] .md-nav__link[href]:focus {
  color: #3440e4;
}
.md-copyright {
  color: #ffffff;
}
.md-source__facts {
  opacity: 1;
}
/* The Read the Docs flyout is formatted with a font-size that is 90% of the
body's. Material for MkDocs has a body font-size that is 0.5rem. This font-size
will result in the flyout having a font-size of 0.7rem, consistent with the
font-size of other elements in the theme.
*/
.rst-versions {
  font-size: 0.777778rem;
}
.rst-versions a {
  color: #39b1ff !important;
}
.rst-versions .rst-other-versions {
  color: #a9a9a9 !important;
}

/* adding a larger type option for lead text */
.leadtext {
  font-size: 3rem;
  line-height: 1.5;
  color: #a23737;
  font-weight: 100;
}

/* Hiding the GitHub view and edit links from the menu. */
.rst-other-versions dl:nth-child(3) {
  display: none;
}

/* Iframe fills wrapper */
.md-content iframe {
  width: 100%;
  height: 100vh;
  border: 0;
}