h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
blockquote {
  font-family: "Ubuntu", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
.wy-nav-side {
  background: #002f43;
}
.wy-nav-content {
  color: #002f43;
}
.wy-nav-content a,
.wy-nav-content a:visited {
  color: #db1b3b;
}
.wy-menu-vertical span {
  color: #edf0f2;
  font-weight: bold;
}
.wy-menu-vertical a:active {
  background-color: #db1b3b;
}
.wy-menu-vertical li.current a {
  color: #484848;
}
.wy-side-nav-search {
  background-color: #db1b3b;
}
.wy-side-nav-search > div.version {
  color: #fff7f6;
}
footer {
  color: #545454;
}
