:root {
  --md-primary-fg-color: #a23737;
  --md-accent-fg-color: #3b4eb7;
}
:root[data-md-color-scheme="slate"] {
  --md-typeset-a-color: #ffa8a8;
  --md-accent-fg-color: #afbbff;
}
.md-search__form {
  background-color: #d83933;
}
