name: Checking links
permissions:
  contents: read

on:
  pull_request:

jobs:
  check-links:
    name: runner / linkspector
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run linkspector
        uses: umbrelladocs/action-linkspector@v1.4.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          fail_on_error: true
          config_file: .config/linkspector.yml
          filter_mode: added
