name: Checking Markdown formatting and providing language suggestions
permissions:
  contents: read
  pull-requests: write

on:
  pull_request:

jobs:
  remark-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run remark-lint with reviewdog for documentation projects.
        uses: ./.config/remark/
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          command: remark.sh
